
header{
    display: flex;
    background-color: aquamarine;
    height: 10vw;
    max-height: 130px;
    min-height: 60px;
  }
  
  .nav{
  background-color: azure;
  display: flex;
  margin: auto;
  justify-content: center;
  }
  
  .container-nav{
    background-color: red;
    position: relative;
    display: flex;
    justify-content: center;
    padding-inline: 1vw;
  }
  
  .list-nav{
    display: flex;
    padding: 0px;
  }
  
  .list-nav>li{
    list-style: none;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    text-align: center;
    display: flex;
    font-size: 1.2em;
  }
  
  .container-logo{
    background-color: black;
    display: flex;
    width: fit-content;
    min-width: 200px;
    max-width: 250px;
    height: auto;
    padding-inline: 1vw;
  }
  .logo{
    display: flex;
    align-self: center;
    min-width: 200px;
    max-width: 250px;
    width: 100%;
  }
  
  .list-nav>li>a{
    align-self: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    white-space: nowrap;
  }